<!DOCTYPE html>
<html>
<head>
	<title>This is image upload!</title>
</head>
<body>
	<h1>THis is image upload!</h1>
	<form method="POST" action="/upload" enctype="multipart/form-data">
		<input type="file" name="files" multiple>
		<button type="submit">Submit</button>
	</form>

</body>
</html>